src/main/mule/implementation-exp-videogames-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="8b806f3d-30d1-49b3-a4f7-c25058e20d4c" >
		<http:request-connection host="localhost" port="8083" connectionIdleTimeout="500000"/>
	</http:request-config>
	<flow name="get-games-flow" doc:id="1d1de646-62ef-457d-8c89-50d8f34f0ac6" >
		<http:request method="GET" doc:name="GET prc-videogames-api" doc:id="10e32be4-0108-4888-b737-8756f4d47fdc" config-ref="HTTP_Request_configuration" path="/api/games">
			<http:query-params ><![CDATA[#[output application/json
var qp = attributes.queryParams
---
{
	(released: qp.released) if(qp.released?),
	(genres: qp.genres) if(qp.genres?),
	(stores: qp.stores) if(qp.stores?),
	(platforms: qp.platforms) if(qp.platforms?),
	(rating: qp.rating) if(qp.rating?)
}]]]></http:query-params>
		</http:request>
	</flow>
	<flow name="post-games-flow" doc:id="3e6c5ab6-b0d8-45cf-8fdb-3886c9855254" >
		<http:request method="POST" doc:name="POST prc-videogames-api" doc:id="a48f2f84-63e8-4742-88d7-3d285b27e592" config-ref="HTTP_Request_configuration" path="/api/games">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"fromPage" : attributes.queryParams.fromPage,
	"toPage" : attributes.queryParams.toPage
}]]]></http:query-params>
		</http:request>
	</flow>
</mule>
